body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legend{background-color:aliceblue;
width:100px;
padding:5px;
text-align: center;} 

i{
  float: left;
  width: 12px;
  height: 12px;
}